{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>SSJN Coding Projects</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/SSjn.png') }}" alt="group-logo" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Shreya, Sanika, Jiya, and Noor's Scrum Team </h5>
                    <p class="card-text">
                        <ol>
                            <li>Python 3.9 is used for most of our backend PBL. HTML, CSS, and JavaScript will be used in frontend</li>
                            <li>Visuals Studio Code (VS Code) is the primary editor, Interactive Development Environment (IDE).</li>
                            <li>GitHub.  Managing and sharing code change, branches, pull requests, issues, and more will be through GitHub.</li>
                            <li>DevOps. Python programmers should have a passion for managing the environment and learning automation (Git, Linux, Bash, Python Packages, Docker).</li>
                            <li>API and Microservice using Flask.  Mastering development techniques in creating and consuming RESTful APIs</li>
                        </ol>
                    </p>
                    <a href="https://jiya-sav.github.io/SSJN/" class="btn btn-primary">Our Group Blog</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/spotify.png') }}" alt="Group Project" height="250">
                    <div class="card-body">
                    <h5 class="card-title">SSJN x Spotify!</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our scrum team project will link users with songs that match their emotions!</li>
                            <li>Music is an integral part of our lives, and our project will make it easier for users to discover new music for any moment.</li>
                            <li>Users will input their current emotion into a text box</li>
                            <li>Our program will output a list of songs that matches the emotion entered, with links to start exploring!</li>
                        </ol>
                    </p>
                    <a href="https://jiya-sav.github.io/SSJN/markdown/2022/09/25/team-project-purpose.html" class="btn btn-primary">Our Project Purpose</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/apimage.jpg') }}" alt="Music Image" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Feeling Emotional? </h5>
                    <p class="card-text">
                        <ol>
                            <li>An API is an Application Programming Interface.</li>
                            <li>It essentially allows two applications to "talk" to each other.</li>
                            <li>Our song API pulls music from spotify so that we can display results based on the user's inputted emotion.</li>
                        </ol>
                    </p>
                    <a href="https://jiya-sav.github.io/SSJN/data/songs" class="btn btn-primary">Click to start!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

<!-- Setting up a block replacement to customize background to NET 
1. change "rings" to "net" in line 69
2. change "rings" to "net" in line 71-->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}