<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About US</strong></h1>
        <p class="text-secondary">Hello! This is the SSJN Group Website where we will be creating our group project. </p>
        <table border="2" bgcolor="lavender" frame="hsdies" rules="rows">
            <tr>
             <th>Team Member</th>
             <th>Scrum Team Role</th>
             <th>About</th>
            </tr>

            <tr>
                <td>Shreya</td>
                <td>Scrum Master and DevOPS Engineer</td>
                <td>
                    <ul>
                        <li>I love hiking, karate, and studying engine maintenance manuals.</li>
                        <li><a href="https://rey444.github.io/shreya/">Shreya's Personal Fastpages</a></li>
                    </ul>                
                </td>        
            <tr>
            
            <tr>
                <td>Sanika</td>
                <td>Backend Developer</td>
                <td>
                    <ul>
                        <li>I love music, going to concerts, and thrifting!</li>
                        <li><a href="https://sanikasha.github.io/superFastPages/">Sanika's Personal Fastpages</a></li>
                    </ul>                
                </td>        
            <tr>
        
            <tr>
                <td>Jiya</td>
                <td>Backend Developer</td>
                <td>
                    <ul>
                        <li>I like to read, play the piano, and spend time with my family at the beach.</li>
                        <li><a href="https://jiya-sav.github.io/jiya_repository/">Jiya's Personal Fastpages</a></li>
                    </ul>                
                </td>        
            <tr>
            
            <tr>
                <td>Noor</td>
                <td>Frontend Developer</td>
                <td>
                    <ul>
                        <li>I enjoy painting, traveling, and sleeping. I have 5 pets (3 dogs, 2 cats)</li>
                        <li><a href="https://Nope1013.github.io/firstrepo/">Noor's Personal Fastpages</a></li>
                    </ul>                
                </td>        
            <tr>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
